<h1>Welcome to my First Rails Project </h1> 

<ul class="nav nav-list">
<li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
<li><a href=posts><i class="icon-user"></i> Blog </a></li>
<li><a href=news_feeds><i class="icon-play"></i> Top 10 BBC Headlines </a></li>
<li><a href="#"><i class="i"></i> Misc</a></li>

<div class="hero-unit"> <button class="btn" type="button"> <%= link_to "Something", posts_path %> </button> </div>

</ul>